.estiloPage{
    color: #D29836;
}

.barraB{
    gap: 96px;
    background-color: #D29836;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    margin: 0px;
    text-align: justify;
}

.estiloElemento{
    color:#5D3810 !important;
    text-decoration: none;
    font-size: xxx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;


}
.estiloElemento:active{
    background-color: #E3B974;
    color: #FFFFFF;
    font-size: xxx-large;
    height: 100px;
    display: flex-end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    font-weight: bold;

}
.estiloSeleccion{
    background-color: #E3B974;
    color: #FFFFFF;
    font-size: xxx-large;
    height: 100px;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;


}

.estiloLogIn{
    margin: 10px;
    border-radius: 10px;
    background-color: #5D3810;
    border-color: #0000;
    color: #FFFFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    height: 80px;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse sobre el botón */



}
.estiloLogInSeleccion{
    border-radius: 10px;
    background-color: #E3B974;
    border-color: #E3B974;
    box-shadow: none;
    border: none;
    color: #FFFFFF;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: xx-large;

}

.estiloLogo{
    background-color: #5D3810;
    padding: 0px !important;
    margin: 0px !important;
    width: 90px;
    height: 100% !important;
}