.estiloAbout{
    color: #D29836;
}

.barraB{
    gap: 96px;
    background-color: #D29836;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin: 0px;
    text-align: justify;
}

.estiloElemento{
    color:#5D3810 !important;
}

.estiloLogIn{
    margin: 10px;
    border-radius: 10px;
    background-color: #5D3810;
    color: #FFFFFF;
}

.estiloSeleccion{
    background-color: #E3B974;
    color: #FFFFFF;
    height: 100px;
}
.estiloLogo{
    background-color: #5D3810;
    padding: 17px 17px 17px 17px;
    margin: 0px;
    width: 70px;
    height: 70px;
}
